<%= turbo_frame_tag 'categories' do %>
  
  <h2><%= t('.title') %></h2>

  <%= link_to t('.all_products'), products_path %>
  <%= render partial: 'category', collection: @categories %>

  <%= form_with url: products_path, method: :get do |form| %>

    <%= form.number_field :min_price, placeholder: t('.min_price'), onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
    <%= form.number_field :max_price, placeholder: t('.max_price'), onChange: 'this.form.requestSubmit()', value: params[:max_price]  %>
    <%= form.text_field :query, placeholder: t('.query'), onChange: 'this.form.requestSubmit()', value: params[:query] %>
    <%# form.select :order_by, options_for_select([['Mas recientes','newest'], ['Más caros', 'expensive'], ['Más baratos', 'cheap']], params[:order_by]), {}, {onChange: 'this.form.requestSubmit()'}  %>
    <%= form.select :order_by, options_for_select(Product::ORDER_BY.keys.map {|order| [t(".#{order}"), order]}, params[:order_by]), {}, {onChange: 'this.form.requestSubmit()'}  %>

  <% end %>

  <div class="products">
    <%= render partial: 'product', collection: @products %>
  </div>

<% end %>
